$colorLight: #fff;
$colorLightAlpha: rgba(255, 255, 255, .1);
$colorLightAlphaMenu: rgba(255, 255, 255, .9);
$colorLightAlphaEvent: rgba(255, 255, 255, .4);
$colorLightAlphaItem: rgba(255, 255, 255, .8);
$colorLightMenu: #f1f1f1;
$colorLightGrey: #282828;
$colorDark: #000;
$colorDarkAlpha: rgba(0, 0, 0, .7);
$colorDarkerAlpha: rgba(0, 0, 0, 0.95);
$colorDarkGrey: #1c1c1c;
$colorActive: #cfa373;
$colorGold: #ceb688;
$colorCafe: #ddc596;
$colorYellow: #eebb37;
$colorBlue: #358296;
$colorOrange: #d87a3c;
$colorGreen: #429644;
$colorRed: #a22127;
$colorFood: #85ab8f;
$colorArt: #3b4d81;
$colorDesign: #f05358;
$colorTravel: #b5cde2;
$colorRewriter: #154734;
$colorBorderSubmenu: #393939;
$colorShade: #666;
$colorShadeLight: #f5f2ed;
$colorBorderLight: #e5e5e5;
$colorBorderDark: #252525;
$colorBorderLayout: #ccc;

$color_cararra_approx: #ebebeb;
$color_rangoon_green_approx: #1c1c1d;
$colorBorderLayout: #ccc;
$color_silver_approx: #bdbdbd;
$alabaster: #fafafa;
$color_sorrell_brown_approx: #ccb68b;
$color_kabul_approx: #564f41;
$color_fuscous_gray_approx: #505050;
$gray: gray;
$img_path : "#{$main_path}assets/img/";
$img_path_main : "./assets/img/";
