html,body{
  max-width: 3000px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
}
@import "bootstrap";
@import "vars";
@import "mixins";
body img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; user-select: none;
}

#app{
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 0px;
  box-sizing: border-box;
  margin: 0px;
  background-color: $colorDarkGrey;
}