.scaled{
  transform: scale(.9)
}


#component_main {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  .wrap{
    position: relative;
    top: calc(50% - 250px);
  }
  .container{
    box-sizing: border-box;
    overflow: hidden;
    .row{
      box-sizing: border-box;
      overflow: hidden;
      .main-wrapper {
        box-sizing: border-box;

        .upload_icon{
          transition: transform .6s;
          margin-bottom: 50px;
          background-size: 128px;
          background-repeat: no-repeat;
          background-position: center;
          text-align: center;
          float: none;
          img {
            width: 60%;
            height: auto;
            margin: auto;
            max-width: 370px;
            display: inline-block;
          }
        }

        .title{
          text-align: center;
          margin-bottom: 30px;
          color: white;
          hr{
            width: 180px;
          }
        }

        .upload_button{
          button {
            margin: auto;
            padding: 5px 25px;
            width: auto;
          }
        }

      }
    }
  }

  .drag_overlay{
    position: absolute;
    top:0;
    left: 0;
    display: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding: 0;
    margin: 0;
    background-color: rgba(256, 256, 256, 0);
  }

}