.files_list_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 130px;
  width: 100%;
}

.optimize_button{
  width: 130px;
  height: 130px;
  float: right;
  background-color: #DCC495;
  color: white;
  font-size: 18px;
  line-height: 145px;
  text-align: center;
  font-family: "Comic Sans MS";
  cursor: pointer;
  font-weight: 900;
}

#component_fileslist {
  float: left;
  height: 130px;
  overflow: auto;
  overflow-y: hidden;
  background-color: rgba(256, 256, 256, 0.3);
  width: calc(100% - 130px);
  color: white;

  .files_list {
    display: table;
    table-layout: fixed;
    width: 100%;
    span {
      display: table-cell;
      width: 120px;
    }
  }

  .file{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: $colorCafe;
    cursor: pointer;
    color:$colorLightGrey;
    display: inline-block;
    float: left;
    .preview{
      width: 100%;
      background-color: white;
      height: 70px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
      background-image: url("../img/unknown.svg");
      &.folder{
        background-image: url("../img/folder.svg");
      }
      &.txt{
        background-image: url("../img/doc.svg");
      }
      &.svg{
        background-image: url("../img/svg.svg");
      }
      &.tar{
        background-image: url("../img/tar.svg");
      }
      &.gz{
        background-image: url("../img/tar.svg");
      }
      &.doc{
        background-image: url("../img/doc.svg");
      }
      &.docx{
        background-image: url("../img/docx.svg");
      }
      &.sz{
        background-image: url("../img/7z.svg");
      }
      &.css{
        background-image: url("../img/css.svg");
      }
      &.scss{
        background-image: url("../img/css.svg");
      }
      &.gif{
        background-image: url("../img/gif.svg");
      }
      &.html{
        background-image: url("../img/html.svg");
      }&.HTML{
        background-image: url("../img/html.svg");
      }
      &.HTM{
        background-image: url("../img/html.svg");
      }
      &.jpeg{
        background-image: url("../img/jpeg.svg");
      }&.JPEG{
        background-image: url("../img/jpeg.svg");
      }
      &.jpg{
        background-image: url("../img/jpg.svg");
      }&.JPG{
        background-image: url("../img/jpg.svg");
      }
      &.js{
        background-image: url("../img/js.svg");
      }&.JS{
        background-image: url("../img/js.svg");
      }
      &.json{
        background-image: url("../img/json.svg");
      }&.JSON{
        background-image: url("../img/json.svg");
      }
      &.rar{
        background-image: url("../img/rar.svg");
      }
      &.png{
        background-image: url("../img/png.svg");
      }&.PNG{
        background-image: url("../img/png.svg");
      }
      &.zip{
        background-image: url("../img/zip.svg");
      }


    }
    .title{
      overflow: hidden;
      width: 80%;
      height: 20px;
      margin: 6px auto;
      color: white;
    }
    .remove{
      position: absolute;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: 24px;
      background-image: url("../img/close.svg");
      border-radius: 50%;
      box-sizing: border-box;
      cursor: pointer;
      top: -10px;
      right: -10px;
    }

  }
  .clear{
    clear: both;
  }
}

.modal {
  text-align: center;
  padding: 25px;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}